
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SimpleURL" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://ng-inventory-shangyilim.azurewebsites.net" appendQueryString="false" redirectType="Permanent" />
                </rule>
        </rules>
        </rewrite>
    </system.webServer>
</configuration>